body{
    background-image: url("image/istockphoto-1353553203-170667a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}
a{
    text-decoration-line: none;
    font-size: 26px;
    color: white;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif  
}
a:hover{
    color: blue;
    cursor: pointer;
    transition: 0.9s;
    background-color: bisque
   
}
.headerTop{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 90vh;
}





